body{
  overflow: hidden;
}
.alert{
  position: absolute;
    right: 10px;
    top: 10px;
    animation: alertmsg 0.7s ease-in-out forwards;
}
@keyframes alertmsg {
  0%{
        right: -500px;
  }
  100%{
      right: 15px;
  }
}